# Question 1

### Description:

Is there a positive correlation  between the number of infants who are fully formula fed and the total dollar value of the rebates received by the WIC agency for each state?

In [1]:
# Run this code cell to import relevant libraries

import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
# Import data sets here

data = pd.read_csv("../US_Public_Food_Assitance/est13_16us/est13us.csv")
data.head()

,Geographic Information,Unnamed: 1,Unnamed: 2,All Ages,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Age 0-17,...,Unnamed: 20,Median Household Income,Unnamed: 22,Unnamed: 23,Age 0-4,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,State FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
1,00,US,United States,48810868,48554692,49067044,15.8,15.7,15.9,16086960,...,21,52250,52185,52315,4811689,4759374,4864004,24.8,24.5,25.1
2,01,AL,Alabama,889091,873141,905041,18.9,18.6,19.2,300649,...,26.6,42882,42260,43504,92126,87734,96518,31.6,30.1,33.1
3,02,AK,Alaska,72643,69056,76230,10.1,9.6,10.6,25030,...,13.8,70058,68425,71691,8148,7208,9088,14.9,13.2,16.6
4,04,AZ,Arizona,1206948,1184107,1229789,18.6,18.2,19,422435,...,26,48504,47932,49076,122889,117153,128625,29.1,27.7,30.5