# Question 2 

This notebook specifically investigates our second research questions: How have the different regional offices of SNAP performed over time in terms of their expenditure per person relative to the changing poverty rates of their associated states?

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
sns.set_theme()

# Data Wrangling

In [2]:
snap_2010 = pd.ExcelFile(r'US_Public_Food_Assitance/SNAP_FY2010_FY2020/FY10.xls')
snap_2011 = pd.ExcelFile(r'US_Public_Food_Assitance/SNAP_FY2010_FY2020/FY11.xls')
snap_2012 = pd.ExcelFile(r'US_Public_Food_Assitance/SNAP_FY2010_FY2020/FY12.xls')
snap_2013 = pd.ExcelFile(r'US_Public_Food_Assitance/SNAP_FY2010_FY2020/FY13.xls')
snap_2014 = pd.ExcelFile(r'US_Public_Food_Assitance/SNAP_FY2010_FY2020/FY14.xls')
snap_2015 = pd.ExcelFile(r'US_Public_Food_Assitance/SNAP_FY2010_FY2020/FY15.xls')
snap_2016 = pd.ExcelFile(r'US_Public_Food_Assitance/SNAP_FY2010_FY2020/FY16.xls')
snap_2017 = pd.ExcelFile(r'US_Public_Food_Assitance/SNAP_FY2010_FY2020/FY17.xls')
snap_2018 = pd.ExcelFile(r'US_Public_Food_Assitance/SNAP_FY2010_FY2020/FY18.xls')
snap_2019 = pd.ExcelFile(r'US_Public_Food_Assitance/SNAP_FY2010_FY2020/FY19.xls')
snap_2020 = pd.ExcelFile(r'US_Public_Food_Assitance/SNAP_FY2010_FY2020/FY20.xls')

#Information on MARO (Delaware, District of Columbia, Maryland, New Jersey, Pennsylvania, Virginia, Virgin Islands
# West Virginia)

def condense_excel(data_name, region, year):
    data = pd.read_excel(data_name, region)
    data.columns = [region + ' Summary', 'Household Participation', 'Participants', 
                   'Total Cost', 'Cost per Household', 'Cost per Participant']
    index = data[data[region + ' Summary'] == region].index.values[0]
    data['year'] = 2010
    return data[index+1:index+14]

MARO_2010 = condense_excel(snap_2010, 'MARO', 2010)
MARO_2011 = condense_excel(snap_2011, 'MARO', 2011)
MARO_2012 = condense_excel(snap_2012, 'MARO', 2012)
MARO_2013 = condense_excel(snap_2013, 'MARO', 2013)
MARO_2014 = condense_excel(snap_2014, 'MARO', 2014)
MARO_2015 = condense_excel(snap_2015, 'MARO', 2015)
MARO_2016 = condense_excel(snap_2016, 'MARO', 2016)
MARO_2017 = condense_excel(snap_2017, 'MARO', 2017)
MARO_2018 = condense_excel(snap_2018, 'MARO', 2018)
MARO_2019 = condense_excel(snap_2019, 'MARO', 2019)
MARO_2020 = condense_excel(snap_2020, 'MARO', 2020)

# MPRO (Colorado, Iowa, Kansas, Missouri, Montana, Nebraska, North Dakota, South Dakota, Utah, Wyoming)

MPRO_2010 = condense_excel(snap_2010, "MPRO", 2010)
MPRO_2011 = condense_excel(snap_2011, "MPRO", 2011)
MPRO_2012 = condense_excel(snap_2012, "MPRO", 2012)
MPRO_2013 = condense_excel(snap_2013, "MPRO", 2013)
MPRO_2014 = condense_excel(snap_2014, "MPRO", 2014)
MPRO_2015 = condense_excel(snap_2015, "MPRO", 2015)
MPRO_2016 = condense_excel(snap_2016, "MPRO", 2016)
MPRO_2017 = condense_excel(snap_2017, "MPRO", 2017)
MPRO_2018 = condense_excel(snap_2018, "MPRO", 2018)
MPRO_2019 = condense_excel(snap_2019, "MPRO", 2019)
MPRO_2020 = condense_excel(snap_2020, "MPRO", 2020)

# MWRO

MWRO_2010 = condense_excel(snap_2010, "MWRO", 2010)
MWRO_2011 = condense_excel(snap_2011, "MWRO", 2011)
MWRO_2012 = condense_excel(snap_2012, "MWRO", 2012)
MWRO_2013 = condense_excel(snap_2013, "MWRO", 2013)
MWRO_2014 = condense_excel(snap_2014, "MWRO", 2014)
MWRO_2015 = condense_excel(snap_2015, "MWRO", 2015)
MWRO_2016 = condense_excel(snap_2016, "MWRO", 2016)
MWRO_2017 = condense_excel(snap_2017, "MWRO", 2017)
MWRO_2018 = condense_excel(snap_2018, "MWRO", 2018)
MWRO_2019 = condense_excel(snap_2019, "MWRO", 2019)
MWRO_2020 = condense_excel(snap_2020, "MWRO", 2020)

# NERO

NERO_2010 = condense_excel(snap_2010, "NERO", 2010)
NERO_2011 = condense_excel(snap_2011, "NERO", 2011)
NERO_2012 = condense_excel(snap_2012, "NERO", 2012)
NERO_2013 = condense_excel(snap_2013, "NERO", 2013)
NERO_2014 = condense_excel(snap_2014, "NERO", 2014)
NERO_2015 = condense_excel(snap_2015, "NERO", 2015)
NERO_2016 = condense_excel(snap_2016, "NERO", 2016)
NERO_2017 = condense_excel(snap_2017, "NERO", 2017)
NERO_2018 = condense_excel(snap_2018, "NERO", 2018)
NERO_2019 = condense_excel(snap_2019, "NERO", 2019)
NERO_2020 = condense_excel(snap_2020, "NERO", 2020)

# SERO

SERO_2010 = condense_excel(snap_2010, "SERO", 2010)
SERO_2011 = condense_excel(snap_2011, "SERO", 2011)
SERO_2012 = condense_excel(snap_2012, "SERO", 2012)
SERO_2013 = condense_excel(snap_2013, "SERO", 2013)
SERO_2014 = condense_excel(snap_2014, "SERO", 2014)
SERO_2015 = condense_excel(snap_2015, "SERO", 2015)
SERO_2016 = condense_excel(snap_2016, "SERO", 2016)
SERO_2017 = condense_excel(snap_2017, "SERO", 2017)
SERO_2018 = condense_excel(snap_2018, "SERO", 2018)
SERO_2019 = condense_excel(snap_2019, "SERO", 2019)
SERO_2020 = condense_excel(snap_2020, "SERO", 2020)

# SWRO 

#SWRO_2010 = condense_excel(snap_2010, "SWRO", 2010)
#SWRO_2011 = condense_excel(snap_2011, "SWRO", 2011)
#SWRO_2012 = condense_excel(snap_2012, "SWRO", 2012)
#SWRO_2013 = condense_excel(snap_2013, "SWRO", 2013)
#SWRO_2014 = condense_excel(snap_2014, "SWRO", 2014)
SWRO_2015 = condense_excel(snap_2015, "SWRO", 2015)
SWRO_2016 = condense_excel(snap_2016, "SWRO", 2016)
SWRO_2017 = condense_excel(snap_2017, "SWRO", 2017)
SWRO_2018 = condense_excel(snap_2018, "SWRO", 2018)
SWRO_2019 = condense_excel(snap_2019, "SWRO", 2019)
SWRO_2020 = condense_excel(snap_2020, "SWRO", 2020)

# WRO

WRO_2010 = condense_excel(snap_2010, "WRO", 2010)
WRO_2011 = condense_excel(snap_2011, "WRO", 2011)
WRO_2012 = condense_excel(snap_2012, "WRO", 2012)
WRO_2013 = condense_excel(snap_2013, "WRO", 2013)
WRO_2014 = condense_excel(snap_2014, "WRO", 2014)
WRO_2015 = condense_excel(snap_2015, "WRO", 2015)
WRO_2016 = condense_excel(snap_2016, "WRO", 2016)
WRO_2017 = condense_excel(snap_2017, "WRO", 2017)
WRO_2018 = condense_excel(snap_2018, "WRO", 2018)
WRO_2019 = condense_excel(snap_2019, "WRO", 2019)
WRO_2020 = condense_excel(snap_2020, "WRO", 2020)

#Information on US 
US_2015 = pd.read_excel(snap_2015, 'US Summary')
US_2015 = US_2015[7:20]
US_2015.columns = ['US Summary', 'Household Participation', 'Participants', 
                   'Total Cost', 'Cost per Household', 'Cost per Participant']

US_2016 = pd.read_excel(snap_2016, 'US Summary')
US_2016 = US_2016[7:20]
US_2016.columns = ['US Summary', 'Household Participation', 'Participants', 
                   'Total Cost', 'Cost per Household', 'Cost per Participant']

US_2017 = pd.read_excel(snap_2017, 'US Summary')
US_2017 = US_2017[7:20]
US_2017.columns = ['US Summary', 'Household Participation', 'Participants', 
                   'Total Cost', 'Cost per Household', 'Cost per Participant']

US_2018 = pd.read_excel(snap_2018, 'US Summary')
US_2018 = US_2018[7:20]
US_2018.columns = ['US Summary', 'Household Participation', 'Participants', 
                   'Total Cost', 'Cost per Household', 'Cost per Participant']

US_2019 = pd.read_excel(snap_2019, 'US Summary')
US_2019 = US_2019[7:20]
US_2019.columns = ['US Summary', 'Household Participation', 'Participants', 
                   'Total Cost', 'Cost per Household', 'Cost per Participant']

US_2020 = pd.read_excel(snap_2020, 'US Summary')
US_2020 = US_2020[7:20]
US_2020.columns = ['US Summary', 'Household Participation', 'Participants', 
                   'Total Cost', 'Cost per Household', 'Cost per Participant']

WRO_2015

,WRO Summary,Household Participation,Participants,Total Cost,Cost per Household,Cost per Participant,year
146,Oct 2014,3980371,8267551,1126798945,283.0889,136.2917,2010
147,Nov 2014,3965248,8213628,1121804309,282.909,136.5784,2010
148,Dec 2014,3992382,8228891,1125732915,281.9702,136.8025,2010
149,Jan 2015,3987585,8271529,1119773727,280.815,135.3769,2010
150,Feb 2015,3979229,8191284,1114647170,280.1164,136.0772,2010
151,Mar 2015,3985785,8180786,1114529712,279.6261,136.2375,2010
152,Apr 2015,3981723,8167394,1105335527,277.6023,135.3352,2010
153,May 2015,3990353,8186198,1103268744,276.484,134.7718,2010
154,Jun 2015,3997492,8172029,1100957868,275.4122,134.7227,2010
155,Jul 2015,4000712,8174163,1101009338,275.2033,134.6938,2010
156,Aug 2015,4006461,8191687,1100175725,274.6004,134.3039,2010
157,Sep 2015,4007658,8182715,1096328318,273.5584,133.981,2010
158,Total,3989583.25,8202321.25,13330362298,278.440992,135.432825,2010

In [3]:

df = pd.read_excel('hstpov21.xlsx', sheet_name='pov21').dropna().reset_index(drop = True)
df['Year'] = None


for i in range((11)*52): #11 years * 52 lines per year
    df.iloc[i, df.columns.get_loc('Year')] = 2020 - (int(i/51))

drop1 = np.linspace(0,572, 12).astype(int)
df.drop(drop1, axis = 0, inplace = True)
df.columns = ['state', 'Total', 'Below poverty', 'Standard error', 'Percent', 'Standard error','Year']

In [4]:
df

,state,Total,Below poverty,Standard error,Percent,Standard error,Year
1,Alabama,4885,727,84,14.9,1.8,2020
2,Alaska,705,94,9,13.3,1.3,2020
3,Arizona,7457,807,76,10.8,1,2020
4,Arkansas,2980,422,34,14.2,1.1,2020
5,California,39164,4318,183,11,0.5,2020
...,...,...,...,...,...,...,...
2231,Virginia,5204,647,72,12.4,1.3,None
2232,Washington,4223,538,65,12.7,1.4,None
2233,West Virginia,1952,297,49,15.2,2.3,None
2234,Wisconsin,4724,403,57,8.5,1.1,None
2235,Wyoming,468,49,20,10.4,4,None